
# Terraform files
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform variable files
*.tfvars
*.tfvars.json

# Terraform plans
*.tfplan

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform CLI configuration
.terraformrc
terraform.rc

# 자격 증명이 담긴 환경변수 파일은 커밋하지 않습니다
.env
env/.env
backend.hcl
